extends layout

block content
  
  
  p Welcome

  #ranking-board     
    .col-md-4            
      h3 Score Board      
      div.score1       
         
  #game-room
    .col-md-4      
      h3 Game Board   
      div.room1
        
          

  #chat-board
    .col-lg-4
        .input-group
          input.form-control(type='text', placeholder='Message...')
          span.input-group-btn
            button.btn.btn-default(type='button') Send
        .chat-display
          div Here is the chat