extends layout

block content
  h2
  .container.lobby-body
    .row
      #ranking-board.col-md-4
        h3 Score Board
        .scoreboard

      #game-room.col-md-4
        h3 Game Board
        #rooms.list-group


      #chat-board.col-md-4
        h3 Chat Board
        div.display-message.well.well-sm
           
        .input-group
           input.form-control(type='text', placeholder='Message...')
           button.btn.btn-primary(type='button') Send

    .row
        .col-md-4.text-center.bottom-buffer
        form.creat-new-room
            button.btn.btn-primary(type='submit') Create New

  script(src='https://code.jquery.com/jquery-3.1.1.min.js', integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=', crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.5.3/jquery.timeago.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js')
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/lobby.js')
  script(src='/javascripts/register.js')