extends layout

block content
	.main.container
		.row.text-center.bottom-buffer
			img(src='/images/logo.jpg' style='width:30%; margin-top:80px').img-circle
		.row
			br
		.row
			br
		.col-md-4.col-md-offset-4.text-center
			h1 User Profile
			.row
				br
			h3 User Name:
			h3 #{userData.username}
			h3 Email Address:
			h3 #{userData.email}
			h3 Money:
			h3 #{userData.money}
