body {
    width: 100%;
    height: 100%;
    font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.lobby-body {
    padding-top: 50px;
}

.list-group {
    max-height: 400px;
    overflow: auto;
}

.list-group-item {
    word-wrap: break-word;
    font-family: monospace, serif;
}

#canvas-container {
    position: relative;
    background-image: url("../images/gametable.jpg");
}

.buttons-container{
    position: fixed;
    width:100%;
    text-align: left;
    margin-top: -180px;
    margin-left:25px;
}

.game-form{
    float:left
    display: inline-block;
    width:100%;
}

.game-button {
    /*float: left;*/
    margin: 0;
    padding: 0;
    border: 0;
    width:100px;
}

canvas {
    /* height: 80vh;
     width: 80vw;*/
    position: relative;
    display: block;
}

a {
    /*color: #00B7FF;*/
}

.scoreboard {
    font-size: 20px;
    max-height: 400px;
    overflow: auto;
}

.display-message{
    height: 300px;
    overflow: auto;
}

.all-rooms li {
    font-size: 20px;
}

#room-chat-board {
    position: relative;
    left: 900px;
    bottom: 635px;
    background-color: red;
}

#chat-input {
    position: relative;
    left: 900px;
    bottom: 130px;
    background-color: blue;
}