body {
  padding: 50px;
  font: 40px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightblue; 
}

a {
  color: #00B7FF;
}

div.score-group {
	font-size: 20px;
}

.all-rooms li{
	font-size: 20px;
}