body {
    width: 100%;
    height: 100%;
    font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
    /*background-color: lightblue;*/
}

.lobby-body {
    padding-top: 50px;
}

.list-group-item {
    word-wrap: break-word;
    font-family: monospace, serif;
}

#canvas-container {
    position: relative;
    background-image: url("../images/gametable.jpg");
}

.game-button {
    position: fixed;
    top: 100px;
    left: 100px;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100px;

}

.plain-button {
    padding: 0;
    margin: 0;
    background-size: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    width: 270px;
    height: 100px;
}

canvas {
   /* height: 80vh;
    width: 80vw;*/
    position: relative;
    display: block;
}

a {
    /*color: #00B7FF;*/
}

div.score-group {
    font-size: 20px;
}

.all-rooms li {
    font-size: 20px;
}

div#room-chat-board {
    position: relative;
    left: 900px;    
    bottom: 635px;
    background-color: red;
}

div#chat-input{
    position: relative;
    left: 900px;
    bottom: 130px; 
    background-color: blue;
}