body {
    width: 100%;
    height: 100%;
    /*padding: 50px;*/
    font: 40px "Lucida Grande", Helvetica, Arial, sans-serif;
    /*background-color: lightblue;*/
}

#canvas-container {
    background-image: url("../images/gametable.jpg");
}

.game-button {
    position: fixed;
    top: 100px;
    right: 10px;
    margin: 0;
    padding: 0;
    border: 0;
    width: 150px;
}

.plain-button {
    padding: 0;
    margin: 0;
    background-size: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    width: 270px;
    height: 100px;
}

canvas {
    /*height: 100vh;*/
    /*width: 100vw;*/
    position: relative;
    display: block;
}

a {
    color: #00B7FF;
}

div.score-group {
    font-size: 20px;
}

.all-rooms li {
    font-size: 20px;
}